.index {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .shareImage-cont{
    width: 100vw;
    // height: 100vw;
    border: 1px solid #eee;
    overflow: hidden;
  }
  .shareImage {
    width: 100%;
    // height: 100vw;
    background-color: #eee;
  }
}

.flex-row{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  button{
    flex: 1;
  }
}
